* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #61dafb;
  background: #282c34;
}

.menu li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #61dafb;
  font-size: larger;
}

nav a:hover {
  color: #61dafb;
  font-weight: bolder;
}

.active {
  border-bottom: solid 1px #61dafb;
}

.nav-style {
  color: #27c0eb;
}

.centre {
  width: fit-content;
  margin: auto;
}

h2 {
  font-weight: 600;
}

.word-change {
  margin: 0 5px;
}

.instructions {
  font-size: 1.25rem;
  font-weight: 600;
}

.flex {
  display: flex;
}

.label-width {
  flex-basis: 100%;
  padding-top: 4px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.score {
  font-size: 1.25rem;
}

.control-title {
  font-size: 1.6rem;
  line-height: 38px;
  font-weight: 400;
}

.scroll {
  max-height: 250px;
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.scroll li {
  list-style: none;
  padding-bottom: inherit;
}

.popover {
  max-width: 350px;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #61dafb;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #61dafb;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Large screens (e.g. laptops) - larger */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .menu li {
    float: left;
    padding-left: 1rem;
  }

  .menu {
    clear: none;
    float: right;
    max-height: none;
    overflow: visible;
  }
}

/* Mobile & tablets - range */
@media only screen and (min-width: 439px) and (max-width: 767px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding-right: 1rem;
  }
  .menu {
    flex-direction: column;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    padding-top: 9px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 438px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding: 1rem 1rem 0.5rem;
  }
  .menu {
    flex-direction: column;
  }
  .menu-icon {
    padding: 24px 15px;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    padding-top: 9px;
  }
}

@media only screen and (min-width: 408px) and (max-width: 419px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding: 1rem 1rem 0.5rem;
  }
  .menu {
    flex-direction: column;
  }
  .menu-icon {
    padding: 24px 15px;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    padding-top: 9px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 407px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding: 1rem 1rem 0.5rem;
  }
  .menu {
    flex-direction: column;
  }
  .menu-icon {
    padding: 24px 8px;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    padding-top: 9px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 390px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding: 1rem 1rem 0.5rem;
    max-height: 100px;
  }
  .menu {
    flex-direction: column;
  }
  .menu-icon {
    padding: 30px 18px;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    max-width: 200px;
  }
}

@media only screen and (max-width: 309px) {
  .word-change {
    margin: 0;
  }
  nav {
    display: block;
    padding: 1rem 1rem 0.5rem;
    max-height: 100px;
  }
  .menu {
    flex-direction: column;
  }
  .menu-icon {
    padding: 30px 10px;
  }
  .menu li {
    padding: 0.5rem 0;
  }
  .instructions {
    font-size: 1rem;
  }
  h1 {
    text-align: left;
    display: inline-block;
    max-width: 160px;
  }
}
